[submodule "linux-socfpga"]
	path = linux-socfpga
	url = https://github.com/altera-opensource/linux-socfpga.git
[submodule "u-boot-socfpga"]
	path = u-boot-socfpga
	url = https://github.com/altera-opensource/u-boot-socfpga.git
[submodule "rtl8192du"]
	path = rtl8192du
	url = git@github.com:WestTeam/rtl8192du.git
[submodule "qtbase"]
	path = qtbase
	url = git://code.qt.io/qt/qtbase.git
